// Specific CSS for your home-page

.landing-banner {
  height: 83vh;
}

.wrapping-banner-content {
  padding-top: 30%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-input {
  display: flex;
  justify-content: center;
}

#enter-city {
  width:100%;
  border-radius: 4px 0  0 4px;
}

.home-text {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1000px;
    h1 {
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  letter-spacing: 25px;
  color: white;
  }
  p {
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  }
}


.image-slide1,.image-slide2,.image-slide3 {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #000000;
  background:rgba(0, 0, 0, 4);
}

.image-slide1 {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('doglanding1.jpg')no-repeat center;
  background-size: cover;
  animation:fade infinite;
  animation-duration: 30s;
}

.image-slide2 {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('doglanding4.jpg')no-repeat center;
  background-size: cover;
  animation:fade2 infinite;
  animation-duration: 30s;
}

.image-slide3 {
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('doglanding5.jpg')no-repeat center;
  background-size: cover;
  background-size: cover;
  animation:fade3 infinite;
  animation-duration: 30s;
}

@keyframes fade {
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade2 {
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}

@keyframes fade3 {
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

#city {
  width: 290px;
}

.card-container {
  padding-bottom: 80px;
}

.dogs-landing-header {
  padding: 30px;
}
