<h1><%= @dog.name %></h1>
<% @dog.color[0].each do |color|%>
<p><%= color %></p>
<% end %>

<%= link_to "Edit", edit_dog_path, class: "btn-ghost" %>


<%= link_to "Delete", dog_path(@dog), class: "btn-ghost", method: :delete %>

