<div class="about-us">

  <div class="about-banner">
    <h1>About us</h1>
  </div>

  <div class="info-about">
    <div class="text-about">
      <h3>Our mission</h3>
      <p>FindADog mission it to....</p>
      <p>In addition.....</p>
      <p>Third paragraph....</p>
    </div>
  </div>


</div>
