<div class="about-us">

  <div class="about-banner">
    <h1>About us</h1>
  </div>

  <div class="info-about">
    <div class="text-about">
      <h3>Our mission</h3>
      <p><strong>FindADog</strong> aims in giving more visibility to dog shelters and rescues and, at the same time, to simplify the adoption process with the <strong>hope of increasing the numbers of adoptions from dog shelters and rescues.</strong></p>
      <p>FindADog is a website where <strong>Shelters</strong> will be able to register and upload pictures with relevant information such as breed, age, color, of the dogs available in that moment in the shelter.</p>
      <p><strong>Users</strong> instead, by inserting a specific address or a City name, will be able to see all the dogs available at the moment in all the different shelters that registered to our website, with the possibility to filter not only by city, but also by breed, size, if he is hypoallergenic, or if he is sterilized. And by clicking on a single dog, users will be able to see pictures of the dog, together with the dog information and the information of the shelter he belongs to.</p>

    </div>
  </div>


</div>
