<div class="contact-us">

  <div class="about-banner">
    <h1>Contact us</h1>
  </div>

  <div class="contact-wrapper">
      <div class="column">
        <h3>Information about us</h3>
        <h5><i class="fas fa-envelope"></i>  contact@findadog.com</h5>
        <h5><i class="fas fa-phone"></i>  02-4812558</h5>
        <h5><i class="fas fa-map-marker-alt"></i>  Corso Magenta, 52, 20123 Milano MI</h5>
      </div>

      <div class="column">
        <h4>Leave us a Message</h4>
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit" class="btn-green">
        </form>
      </div>
    </div>
  </div>
