
  <div class="landing-container">

    <div class="landing-info">
      <h1>FINDADOG</h1>
      <p>THIS IS A HEADER</p>

      <div class="search-input">

        <div>
          <input type="search" id="address" class="enter-city" placeholder="Enter a city or an adress..." name="query" />
        </div>

        <div>
          <button type="submit" class="btn-warning btn-search"><i class="fa fa-search"></i></button>
        </div>

      </div>

    </div>

 </div>
