.btn-ghost {
  color: $my-black;
  border: 1px solid #4A4A4A;
  padding: 10px 20px;
  border-radius: 3px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-weight: bolder;
  a {
    text-decoration: none;
  }
}

.btn-ghost:hover {
  opacity: 0.8;
}

.btn-search {
  border-radius: 0 4px 4px 0;
}

#btn-ghost {
  color: $my-black;
  border: 1px solid #4A4A4A;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: white;
}


.div-btn-center{
  text-align: center;
  padding:20px;
}

#btn-green {
  color: $my-black;
  padding: 8px 30px;
  border-radius: 3px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-weight: bolder;
  :hover {
  opacity: 0.8;
}
}
