.card-container{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.card-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card-trip {
  height: 250px;
  width: 360px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px 8px;
  padding: 0;
  border-radius: 2px;
}

.card-trip img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.female{
  color: #dea5ed;
}
 .male{
  color: #a5b6fa;
 }
