.card-container{
  // display: flex;
  // align-content: flex-start;
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  // width: 100vw;
  // padding-bottom: 80px;
  // margin: 0 auto;
  overflow: auto;
  margin: 0 auto;
  width: 80vw;
}
.card-row {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  // width: 80%;
  // padding: 0 60px 0 60px;
  // width: 100%;
  // text-align: center;

}

.card-trip {
  height: 250px;
  width: 360px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px 8px;
  padding: 0;
  border-radius: 2px;
}

.card-trip img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-btns{
  width: 30%;
  display:flex;
  justify-content: flex-end;
}

.card-trip-btn {
  color: $my-black;
  padding: 5px 10px;
}
.card-trip-btn:hover{
    color: blue;
    text-decoration: none;
  }


.female{
  color: #dea5ed;
}
 .male{
  color: #a5b6fa;
 }
