.form-page {
  color: #ada495;
  width: 50vw;
  padding: 50px;
  background: white;
  margin: 50px auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 9px 5px rgba(253, 193, 18, 0.2);
  -moz-box-shadow: 0px 0px 9px 5px rgba(253, 193, 18, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
    color: #ada495;
  }
}

.form-page a {
  color: #ada495;
  &:hover {
    color: black;
  }
}
