#active {
  color: rgb(237, 94, 94);
}

.fa-heart:hover {
  color: rgb(237, 94, 94);
}

.show-heart{
  padding: 5px;
 font-size: 2em;
}

.fa-trash-alt{
  color: $my-black;
 }

.fa-trash-alt:hover {
    color: blue;
  }
