
<div class="profile-container">
  <div>
    <div>
      <h3 style="text-decoration: underline;">INFORMATION ABOUT YOU</h3>
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-info-header">
      <p>Name:</p>
      <p>Username:</p>
      <p>Email:</p>
    </div>
    <div class="profile-info-body">
      <h2><%= @user.name %></h2>
      <h3><%= @user.username %></h3>
      <h3><%= @user.email %></h3>
    </div>
  </div>
  <div>
    <%= link_to "Edit your infos",  edit_user_registration_path,  class: "btn btn-ghost", method: :GET %>
  </div>
</div>
